:root{
    --main-color-text: #212121;
}

body{
    font-family: 'Roboto', sans-serif;
}


.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}

.section{
    padding: 94px 0;
}


img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*-------------------------------------------------Header-------------------------------------------------*/

.header{
    border-bottom: 1px solid #ECECEC;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}

.header-studio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    }

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--main-color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration:   250ms;
    transition-timing-function:   cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus{
    color: #2196F3;
}

.tel{
    color: #757575;
    transition-duration:  250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}


.header-container{
    display: flex;
    align-items: center;
    min-height: 80px;
    
}

.nav-list{
    display: flex;
    
}

.nav-list{
    gap: 50px;
}

.header-tel{
    display: flex;
    gap:50px;
    margin-left: auto;
}

.mail{
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration:  250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.phone{
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover .mail{
    fill: #2196F3;
}
.tel:hover .phone{
    fill: #2196F3;
}

.tel:focus .mail{
    fill: #2196F3;
}

.tel:focus .phone{
    fill: #2196F3;
}

.active{
    color: #000;
    position: relative;
}

.active::after{
    content: '';
    background: #2196F3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -31px;
}

/*-------------------------------------------------Hero-------------------------------------------------*/

.hero{
    background: #2F303A;
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hearofoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    width: 696px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: #2196F3;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    min-width: 216px;
    min-height: 50px;
    margin: 0 auto;
    border-color: transparent;
    transition-property: background-color;
    transition-duration:  250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus{
    background-color:#188CE8;
}


 
/*-------------------------------------------------Advantages-------------------------------------------------*/


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
.advantages-item-title {
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantages-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.advantages-list{
    display: flex;
    gap: 30px;   
}

.advantages-item{
    min-width: 270px;
}

.advantages-photo{
    width: 70px;
    height: 70px;
}

.advantages-photo-container{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------------------------------Photo-------------------------------------------------*/
.photo-title{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    text-align: center;
    margin-bottom: 50px;
}

.photo-list{
    display: flex;
    gap: 30px;
}

.photo-section{
    padding-top: 0;
    padding-bottom: 94px;
}

.photo-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}

.photo-item{
    position: relative;
    height: 294px;
}

.photo-text-container{
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------------------------------------Team-------------------------------------------------*/


.team{
    background-color: #F5F4FA;
   
}
.team-title{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--main-color-text);
    margin-bottom: 50px;
    text-align: center;
}
.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    text-align: center;
    margin-bottom: 10px;
}
.team-item-text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    
    }

    .team-list{
        display: flex;
        gap: 30px;
    }

    .team-item{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #fff;
    }


   .person{
    padding-top: 30px;
    padding-bottom: 30px;
   }
  
   .team-soc{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    margin: 12px;
    transition-duration: border-radius 250ms, background-color 250ms;
    transition-timing-function: border-radius cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1);
   }

  .team-soc-list{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  .team-soc-item{
    width: 44px;
    height: 44px;
    border: 3px  #000000;
    transition-property: border-radius,background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-soc-link{
    transition-property: border-radius, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-soc-link:hover{
    border-radius: 50%;
    background-color: #2196F3;
  }

  .team-soc-item:hover .team-soc{
    fill: #fff;
  }

  .team-soc-link:focus .team-soc{
    fill: #fff;
  }

  .team-soc-link:focus  {
    border-radius: 50%;
    background-color: #2196F3;
  }

  .team-soc-link{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
/*-------------------------------------------------Footer-------------------------------------------------*/


.footer{
    background:#2F303A;
    min-height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
}
address{
    font-style: normal;
}

.footer-logo{
    color: #fff;
}

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.f-logo{
    margin-bottom: 20px;
    display: block;
}

.footer-list{
   margin: 0;
   padding: 0;
}

.margin{
    margin-bottom: 9px;
}

.footer-soc{
    fill: #fff;
    width: 20px;
    height: 20px;
    margin: 12px;
}

.footer-soc-item{
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
}

.footer-info{
    max-width: 231px;
    display: inline-block;
}

.footer-soc-list{
    display: flex;
    gap: 10px;
}

.soc-links-container{
    margin-left: 70px;
    margin-right: 93px;
}


.footer-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}

.footer-soc-link{
    transition-property: background-color, border-radius ;
    transition-duration:  250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;
}

.footer-soc-link:hover{
    background-color: #2196F3;
    border-radius: 50%;
}

.footer-soc-link:focus{
    background-color: #2196F3;
    border-radius: 50%;
}

.footer-soc-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    align-items: baseline;
}


.footer-form-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.footer-input{
    margin-right: 12px;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding:15px 16px;
    transition-property: border-color, outline-color;
    transition-duration:  250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;
}

.footer-submit-btn{
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition-property: background-color;
    transition-duration:  250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;
}

.footer-submit-btn:hover{
    background-color:#188CE8;
}

.button-wrap{
    display: flex;
}

.footer-submit-text{
    margin-right: 10px;
}

.submit{
    fill: #fff;
}

.footer-input:hover{
    border-color: #2196F3;
}

.footer-input:focus{
    outline-color: #2196F3;
    border-color: #2196F3;
}

/*-------------------------------------------------clients-------------------------------------------------*/

.clients-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.31;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    gap: 30px;

}

.clients-item{
    width: 170px;
    height: 92px;
}

.logo{
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link{
    transition-property: border;
    transition-duration:  250ms;
    transition-timing-function:   cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover{
    border: 1px solid #2196F3;
}

.clients-link:hover .logo{
    fill: #2196F3;
}

.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-link:focus{
    border: 1px solid #2196F3;
}

.clients-link:focus .logo{
    fill: #2196F3;
}
/*-------------------------------------------------PORTFOLIO-------------------------------------------------*/


.menu-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}



.menu-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    min-width: 73px;
    border-color: transparent;
    border-radius: 4px;
    padding: 6px 22px;
    transition-property: color, background-color,  box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #F5F4FA;
    }

.menu-button:hover{
    color: #fff;
    background-color: #2196F3;
    box-shadow: 0 3px 2px 0 rgba(47, 48, 58, 0.4);
}

.menu-button:focus{
    color: #fff;
    background-color: #2196F3;
    box-shadow: 0 3px 2px 0 rgba(47, 48, 58, 0.4);
}

.portfolio-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
}
.portfolio-item-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.border{
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
   padding-left: 24px;
   padding-right: 24px;
}

.portfolio-link{
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover{
    box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2) ;
}

.portfolio-link:focus{
    box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2) ;
}

.portfolio-link{
    display: block;
}

.portfolio-photo-wrap{
    position: relative;
    overflow: hidden;
    
}

.cards-top-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #fff;
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    top:100%;
    padding: 63px 24px;
    transition-property: top;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }


    .portfolio-link:hover .cards-top-text{
        top: 0;
    }

    .portfolio-link:focus .cards-top-text{
        top: 0;
    }

/*-------------------------------------------------MODAL-------------------------------------------------*/
    
.mod-window{
width: 528px;
height: 581px;
background-color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 40px;
}

.mod-container{
    background-color:  rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mod-close-btn{
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: #fff;
        padding: auto;
        transition-property: fill ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

   
    .mod-close-btn:hover{
        fill:  #2196F3;
    }

    .is-hidden{
        opacity: 0;
        visibility: 0;
        pointer-events: none;
    }

    .input-mod{
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 42px;
        transition-property:  border-color,  outline-color ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input-mod:hover{
        border-color: #2196F3;
    }

    .input-mod:focus{
        outline-color: #2196F3;
    }

    .input-mod:hover + .icon-person{
        fill: #2196F3;
    }

    .input-mod:focus + .icon-person{
        fill: #2196F3;
    }

    .modal-title{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
    }

    .modal-label{
        display: block;
        margin-bottom: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: #757575;
    }

    .comment{
        padding: 12px 16px;
        resize: none;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition-property:  border-color,  outline-color ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .comment:hover{
        border-color: #2196F3;
    }

    .comment:focus{
        outline-color: #2196F3;
    }

    .comment::placeholder{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }

    .modal-input-wrap{
        margin-bottom: 10px;
        position: relative;
    }

    .policy-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
        cursor: pointer;
    }

    .policy-label{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .policy-link{
        color: #2196F3;
        text-decoration: underline;
        margin-left: 2px;
    }

    .policy-wrap{
        display: flex;
        gap: 7px;
        margin-bottom: 30px;
        justify-content: center;
    }

   
    .textarea-wrap{
        margin-bottom: 20px;
    }
   
    .modal-submit-btn{
        width: 200px;
        height: 50px;
        padding: 10px 52px;
        background-color: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #fff;   
        border-color: transparent;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        transition-property:background-color ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-submit-btn:hover{
        background-color: #188CE8;
    }

    .icon-check{
        margin-right: 8px;
        transition-property:background-color, fill ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    
    

    .policy:checked + .policy-label>.icon-check{
        background-color: #2196f3;
        fill: transparent;
        border-radius: 2px;
        background-image: url(/images/icon-check.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .icon-person{
        position: absolute;
        left: 12px;
        top: 50%;
        transition-property:  fill ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }