.section{
    padding: 94px 0;
}


@media (max-width:480) {
    .section{
        padding: 0;
        
    }
}

@media screen and (min-width: 481px) and (max-width:768px){
    .section{
        padding: 60px 0;
        
    }
}
