.advantages-item-title {
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantages-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.advantages-list{
    display: flex;
    gap: 30px;   
}

.advantages-item{
    width: 270px;
}

.advantages-photo{
    width: 70px;
    height: 70px;
}

.advantages-photo-container{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px){
   .advantages-list{
    flex-direction: column;
   }
   .advantages-item{
    width: 100%;
   }
   .advantages-photo-container{
    width: calc(100vw - 30px);
   }
}

@media screen and (min-width: 481px) and (max-width: 1199px){
    .advantages-item{
        width: calc((100% - 30px)/2);
    }
    .advantages-list{
        flex-wrap: wrap;
    }

    .advantages-photo-container{
        width: 100% ;
    }
}