.menu-list{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}



.menu-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    min-width: 73px;
    border-color: transparent;
    border-radius: 4px;
    padding: 6px 22px;
    transition-property: color, background-color,  box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #F5F4FA;
    &:hover{
    color: #fff;
    background-color: #2196F3;
    box-shadow: 0 3px 2px 0 rgba(47, 48, 58, 0.4);
}

&:focus{
    color: #fff;
    background-color: #2196F3;
    box-shadow: 0 3px 2px 0 rgba(47, 48, 58, 0.4);
}
    }

    .portfolio__item{
        width: 370px;
    }

.portfolio__item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
}
.portfolio__item-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    
}

.portfolio__list{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.border{
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
   padding-left: 24px;
   padding-right: 24px;
}

.portfolio__link{
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    &:hover{
    box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2) ;
}

&:focus{
    box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2) ;
}
}


.portfolio__photo-wrap{
    position: relative;
    overflow: hidden;
    
}

.cards__top-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #fff;
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    top:100%;
    padding: 63px 24px;
    transition-property: top;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .portfolio__link:hover &{
        top: 0;
    }

    .portfolio__link:focus &{
        top: 0;
    }
    }


    @media screen and (max-width: 767px){
        .portfolio__list{
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .portfolio__link{
            width: 100%;
        }
        .portfolio__item{
            width: calc(100vw - 30px);
        }
        .menu-list{
            flex-wrap:wrap;
            justify-content: start;
        }
        .border{
            width: 100%;
        }
        .portfolio__photo{
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        .portfolio__item{
            width: calc((100% - 30px)/2);
        }
        .border{
            width: 100%;
        }
        .portfolio__photo{
            width: 100%;
        }
        .portfolio__link{
            width: 100%;
        }
        .portfolio__list{
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
    
   